**.pyc
apks/
examples/libfplutil_example/apks/
examples/libfplutil_example/bin/
examples/libfplutil_example/build.xml
examples/libfplutil_example/libs/
examples/libfplutil_example/local.properties
examples/libfplutil_example/obj/
examples/libfplutil_example/proguard-project.txt
examples/libfplutil_example/project.properties
libfplutil/CMakeCache.txt
libfplutil/CMakeFiles/
libfplutil/CMakeScripts/
libfplutil/Makefile
libfplutil/cmake_install.cmake
libfplutil/obj/
libfplutil/test*/CMakeFiles/
libfplutil/test*/Debug/
libfplutil/test*/Makefile
libfplutil/test*/Release/
libfplutil/test*/bin/
libfplutil/test*/build.xml
libfplutil/test*/cmake_install.cmake
libfplutil/test*/googletest/
libfplutil/test*/libs/
libfplutil/test*/local.properties
libfplutil/test*/obj/
libfplutil/test*/proguard-project.txt
libfplutil/test*/project.properties
libs/
