**.pyc
apks/
examples/libfplutil_example/apks/
examples/libfplutil_example/bin/
examples/libfplutil_example/build.xml
examples/libfplutil_example/libs/
examples/libfplutil_example/local.properties
examples/libfplutil_example/obj/
examples/libfplutil_example/proguard-project.txt
examples/libfplutil_example/project.properties
libfplutil/CMakeCache.txt
libfplutil/CMakeFiles/
libfplutil/CMakeScripts/
libfplutil/Makefile
libfplutil/cmake_install.cmake
libfplutil/obj/
libfplutil/unit_tests/CMakeCache.txt
libfplutil/unit_tests/CMakeFiles/
libfplutil/unit_tests/Makefile
libfplutil/unit_tests/bin/
libfplutil/unit_tests/cmake_install.cmake
libfplutil/unit_tests/googletest/
libfplutil/unit_tests/test*/CMakeFiles/
libfplutil/unit_tests/test*/Debug/
libfplutil/unit_tests/test*/Makefile
libfplutil/unit_tests/test*/Release/
libfplutil/unit_tests/test*/bin/
libfplutil/unit_tests/test*/build.xml
libfplutil/unit_tests/test*/cmake_install.cmake
libfplutil/unit_tests/test*/googletest/
libfplutil/unit_tests/test*/libs/
libfplutil/unit_tests/test*/local.properties
libfplutil/unit_tests/test*/obj/
libfplutil/unit_tests/test*/proguard-project.txt
libfplutil/unit_tests/test*/project.properties
libs/
